@using Microsoft.AspNetCore.Components.Web
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp1.styles.css" rel="stylesheet" />
    <link href="css/Loading.css" rel="stylesheet"/>  
    <link href="css/TeachMenu.css" rel="stylesheet"/>   
    <link href="css/Table.css" rel="stylesheet"/> 
    <link href="css/Buttons.css" rel="stylesheet"/> 
    <link href="css/CustomSelect.css" rel="stylesheet"/> 
    <link href="css/DataTable.css" rel="stylesheet"/> 
    <link href="css/Arrows.css" rel="stylesheet"/> 
    <link href="css/DataGrid.css" rel="stylesheet"/>
    <link href="css/DropDownMenu.css" rel="stylesheet"/>
    <link href="css/Switcher.css" rel="stylesheet"/>
    <link href="~/css/ProductSettings.css" rel="stylesheet"/>
     <link href="~/css/LineSettings.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
