@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Linq
@using BlazorApp1.DataContext.Permissions
@using Microsoft.EntityFrameworkCore;
@using System.Diagnostics;
@using Newtonsoft.Json;
 
<PageTitle>Обучение</PageTitle>

@if ((UserName == ""))//SelectItem не понятно для чего. вырезал: (SelectItem == null) || 
{
     <div class='spinner'>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
</div>
<svg>
    <defs>
        <filter id='goo'>
            <feGaussianBlur in='SourceGraphic' stdDeviation='8' result='blur' />
            <feColorMatrix in='blur' mode='matrix' values='
                1 0 0 0 0 
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 50 -8' result='goo' />
            <feBlend in='SourceGraphic' in2='goo' />
        </filter>
    </defs>
</svg>
}
else
{ 
    @if(!PermissionLevelPerem)
    {
        <h3>Нет прав для просмотра раздела, обратитесь к администратору!</h3>
    }
    else
    {
    <div class="container">  
    <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="oi oi-envelope-closed"></i>            
           <h3>Автоотправка</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>Обучение по разделу "Автоотправка"</p>
           <a href="" type="button">Пройти обучение</a>
         </div>
       </div>
    </div>
    <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="oi oi-graph"></i>            
           <h3>Прослеживаемость</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>Обучение по разделу "Прослеживаемость"</p>
           <a href="" type="button">Пройти обучение</a>
         </div>
       </div>
    </div> 
     <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="oi oi-terminal"></i>            
           <h3>Администрирование</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>Обучение по разделу "Администрирование"</p>
           <a href="" type="button">Пройти обучение</a>
         </div>
       </div>
    </div> 
    <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="oi oi-wrench"></i> 
            <i class="oi oi-tag"></i>            
           <h3>Настройки изделия</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>Обучение по разделу "Настройки изделия"</p>
           <a href="" type="button">Пройти обучение</a>
         </div>
       </div>
    </div>  
     <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="oi oi-wrench"></i> 
            <i class="oi oi-layers"></i>     
           <h3>Настройки линии</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p> Обучение по разделу "Настройки линии"</p>
           <a href="" type="button">Пройти обучение</a>
         </div>
       </div>
    </div>
     <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="oi oi-wrench"></i> 
            <i class="oi oi-media-stop"></i>                
           <h3>Настройки КТ</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>Обучение по разделу "Настройки КТ"</p>
           <a href="" type="button">Пройти обучение</a>
         </div>
       </div>
    </div>   
    </div>
    }
}


@code {
    private BlazorApp1.DataContext.Permissions.UserPermissions user { get; set; }

    static bool PermissionLevelPerem = false;

    string UserName = "";

    protected override Task OnInitializedAsync() => Task.Run(()=> Load()); 

    private void Load()
    {
        Task<AuthenticationState> authState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        try
        {
            //Получаем данные с таблиц Списка работников, Cтраниц и правил
            PermissionLevelPerem = Authorization.Authorization.AuthorizationCheck(authState.Result.User.Identity.Name.Replace(@"\", @"%5C"), "Обучение");
            UserName = authState.Result.User.Identity.Name.Replace(@"\", @"%5C");
        }
        catch (Exception ex)
        {
            string exe = ex.Message.ToString();
        }
        // Пока не знаю зачем это. Делаю затычку. 30.05.2023
        //SelectItem = db.SettingSenderManMails.Include(c => c.ClientMails).Include(u => u.CopyMails).Include(r => r.ProductIds).ToList();
    }

    private Database.SettingSenderMan.SettingSenderManContext db = new Database.SettingSenderMan.SettingSenderManContext();
    private ICollection<Database.SettingSenderMan.SettingSenderManMails>? SelectItem { get; set; }//Основная модель для клиента
    
    }
