.grid-container {
    display: grid;
    width: 50vw;
    grid-template-columns: auto auto;
    gap: 5px;
    background-color: #1d484e;
    padding: 10px;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
    }
