@inherits LayoutComponentBase


<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main class="Main_Body_layout" >
            <div class="blurLayer">
                <LoginDisplay />
            </div>
            <article class="mainArticle">
                  @Body
            </article>
    </main>
</div>
