







































<div class="Main_Nav_Menu" @onclick="ToggleNavMenu">
    <nav class="Main_Nav_Menu ">
         <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="productsettings">
               <span class="oi oi-tag PaddingCorrector" aria-hidden="true"/>
               <p class="FontColor">Настройки изделия</p>
            </NavLink>
        </div>
        <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor " href="linesettings">
                <span class="oi oi-layers PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Настройки линии</p>
            </NavLink>
        </div>
          <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="checkpointsettings">
                <span class="oi oi-media-stop PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Настройки КТ</p>
            </NavLink>
        </div>
        <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Обучение</p>
            </NavLink>
        </div>
        <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="autosend">
                <span class="oi oi-envelope-closed PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Автоотправка</p>
            </NavLink>
        </div>
         <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="testPage">
                <span class="oi oi-chevron-bottom PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Тестовая страница</p>
            </NavLink>
        </div>
        <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="traceability">
                <span class="oi oi-graph PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Прослеживаемость</p>
            </NavLink>
        </div>
          <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="extraoptions">
                <span class="oi oi-list-rich PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Дополнительно</p>
            </NavLink>
        </div>
          <div class="NavMenuDiv">
            <NavLink class="TabBackgroundColor" href="sitesettings">
                <span class="oi oi-terminal PaddingCorrector" aria-hidden="true"></span>
                <p class="FontColor"> Администрирование</p>
            </NavLink>
        </div>
    </nav>
</div>


<!--Генерируемый код-->
@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
